<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  cacheDirectory=".cache/phpunit"
  executionOrder="depends,defects"
  beStrictAboutCoverageMetadata="true"
  beStrictAboutOutputDuringTests="true"
  failOnRisky="true"
  failOnWarning="true"
  defaultTestSuite="Unit,Feature"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
    <!-- Statement history and slow queries: slow, waits for MatrixOne to publish statements. -->
    <testsuite name="Monitoring">
      <directory>tests/Monitoring</directory>
    </testsuite>
    <!-- Known MatrixOne bugs: expected to fail until fixed upstream. -->
    <testsuite name="KnownIssues">
      <directory>tests/KnownIssues</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="MATRIXONE_HOST" value="127.0.0.1" />
    <env name="MATRIXONE_PORT" value="6001" />
    <env name="MATRIXONE_DATABASE" value="laravel_matrixone_test" />
    <env name="MATRIXONE_USERNAME" value="root" />
    <env name="MATRIXONE_PASSWORD" value="111" />
  </php>
  <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
